# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.ini

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*..wsuo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pdb
*.txt
*.cache
*.props
*.targets
*.vsidx
*.v2
project.*
.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.sqlite
/.vs/*
/iWareHeartBeat/bin/*
/iWareHeartBeat/obj/*
/S7NetSimulation/bin/*
/S7NetSimulation/obj/*
/TestProject1/bin/*
/TestProject1/obj/*
/iWareCommon/bin/*
/iWareCommon/obj/*
/iWareDao/bin/*
/iWareDao/obj/*
/iWareDao/Migrations/*
/iWareBiz/bin/*
/iWareBiz/obj/*
/iWareService/bin/*
/iWareService/obj/*
/iWareApi/bin/*
/iWareApi/obj/*
/iWareSda/bin/*
/iWareSda/obj/*




/iWarePda/js/config.js
/iWarePda/js/config.js
