<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="dir" value="D:/LOGS/HONDA_LINE"/>

	<targets>
		<target xsi:type="File" name="Microsoft"
				fileName="${dir}/${shortdate}.log"
				layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${exception} | ${threadid}" />

		<target xsi:type="File" name="ReconnectServerJob"
				fileName="${dir}/ConnectServer/ReconnectServer/${shortdate}.log"
				layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${exception} | ${threadid}" />

		<target xsi:type="File" name="SendHeartBeatJob"
				fileName="${dir}/HeartBeat/SendHeartBeat/${shortdate}.log"
				layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${exception} | ${threadid}" />

		<target xsi:type="File" name="PlcS7Net"
		        fileName="${dir}/Plc/PlcS7Net/${shortdate}.log"
		        layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${exception} | ${threadid}" />

	</targets>

	<rules>

		<logger name="Microsoft.*" minlevel="Debug" writeTo="Microsoft" />

		<logger name="iWareSda.Plc.Entity.PlcS7Net" minlevel="Debug" writeTo="PlcS7Net" />

		<logger name="iWareSda.Jobs.ConnectServer.ReconnectServer.ReconnectServerJob" minlevel="Debug" writeTo="ReconnectServerJob" />

		<logger name="iWareSda.Jobs.HeartBeat.SendHeartBeat.SendHeartBeatJob" minlevel="Debug" writeTo="SendHeartBeatJob" />

	</rules>

</nlog>
